{% load static %}

<!DOCTYPE html>
<html>
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/text.css' %}">
        <link rel="stylesheet" href="{% static 'css/image.css' %}">
        <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
        <link rel="icon" href="{% static 'images/fav/favicon.ico' %}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/fav/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/fav/favicon-16x16.png' %}">
        <title>
            {% block title %}
            Главная страница
            {% endblock title %}
        </title>
    </head>
<body>
    {% include 'includes/header.html' %}
    {% block content %}
    <div class="row mx-auto">
        <p class="text-with-border">
            О проекте
            <img src="{% static 'images/icons/eye.svg' %}" style="width: 50px; height: 50px">
        </p>
    </div>
    <div class="row d-flex justify-content-center">
    <div class="col-6 text-white p-4 rounded-5" style="background-color: black;">
        <p class="title-text-white">
            Режим JailBreak
        </p>
        <p class="default-text-white">
            &nbsp;&nbsp;&nbsp;&nbsp;Сервер безумные зомби Сервер безумные зомбиСервер безумные зомбиСервер безумные зомбиСервер безумные зомбиСервер безумные зомби
        </p>
    </div>
</div>
    {% endblock content %}
</body>
</html>