.pagination .page-item.active .page-link {
    background-color: #fff; /* Цвет фона для активной кнопки */
    color: #212529; /* Цвет текста для активной кнопки */
}

.pagination .page-item .page-link {
    background-color: #212529; /* Цвет фона для обычных кнопок */
    color: #fff; /* Цвет текста для обычных кнопок */
    border-color: #000; /* Цвет обводки всего контура */
}

.pagination .page-item.disabled .page-link {
    background-color: #212529; /* Цвет фона для отключенных кнопок */
    color: #6c757d; /* Цвет текста для отключенных кнопок */
}