{% load static %}

<!DOCTYPE html>
<html>
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fav icons -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="icon" href="{% static 'images/fav/favicon.ico' %}" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/fav/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/fav/favicon-16x16.png' %}">
        <title>Title from index.html</title>
        </head>
<body>
    {% include 'includes/header.html' %}
    
    <div class="card text-center m-3">
        <div class="card-header">
          Обновление
        </div>
        <div class="card-body">
          <h5 class="card-title">Новая роль: ликвидатор</h5>
          <p class="card-text">
            Content
          </p>
        </div>
        <div class="card-footer text-muted">
          21.01.2023
        </div>
      </div>

    {% include 'includes/footer.html' %}
</body>
</html>
