{% load static %}
<header>
  <div class="row p-3 mx-auto">
    <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
      <a href="/">
        <img src="{% static 'images/logo.png' %}" style="max-width: 200px; max-height: 200px;">
      </a>
    </div>
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
      <ul class="nav flex-lg-row flex-md-column flex-column text-center">
        <li><a href="{% url 'posts:news' %}" class="nav-link px-2 {% if request.path == '/news/' %}text-secondary{% else %}text-white{% endif %}">Новости</a></li>
        <li><a href="#" class="nav-link px-2 {% if request.path == '/forum/' %}text-secondary{% else %}text-white{% endif %}">Форум</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Донат</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Команда</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Статус сервера</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
      {% if request.user.is_authenticated %}
      <button type="button" class="btn btn-outline-light me-3">Профиль</button>
      <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-light me-2">Выйти</button>
      </form>
      {% if request.user.image %}
        <img src="{{ request.user.image.url }}" style="max-width: 75px; max-height: 75px;">
      {% else %}
        <img src="{% static 'images/75x75.jpg' %}" style="max-width: 75px; max-height: 75px;">
      {% endif %}
      {% else %}
      <a href="{% url 'users:signin' %}">
      <button type="button" class="btn btn-outline-light me-2">Авторизация</button>
      </a>
      <a href="{% url 'users:signup' %}">
      <button type="button" class="btn btn-warning">Регистрация</button>
      </a>
      {% endif %}
    </div>
  </div>
</header>
