{% extends 'base.html' %}
{% load static %}

{% block title %}
Новости проекта
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-8 text-white p-4 rounded-5" style="background-color: black;">
      {% for new in news %}
        <p class="default-text-white text-center">
          {{ new.title }}
        </p>
        <div class="container mb-3">
          <img src="{{ new.image.url }}" class="img-fluid mb-3 mx-auto d-block" style="widht: 400px; height: 400px;">
        </div>
        <p class="default-text-white text-center">
          {{ new.content }}
        </p>
      {% if forloop.last %} 
      {% include 'includes/paginator.html' %}
      {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock content %}
